body {
font-family: system-ui, sans-serif;
margin: 1.5rem;
}

h1 {
  font-size: 1.1rem;
  margin: 0.25rem 0;
}

@media (max-width: 480px) {
body {margin: 0.5rem;}
}

#canvasWrapper {
margin-top: 1rem;
border: 1px solid #ccc;
overflow: auto;
height: 50vh;
/*height: 600px;*/
}

#canvas {
display: block;
image-rendering: pixelated;
}

#result {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#colorPreview {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
}
